.base_template {
  display: flex;
  flex-direction: row;

  &__content {
    overflow: auto;
    height: calc(100vh - (16px * 2));
    width: calc(100% - (85px + 32px));
    padding: 16px;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary300) transparent;
    scrollbar-width: thin;
  }
}
