@mixin title-styles($colorScheme, $size) {
  margin: 0;
  padding: 0;

  font-size: $size;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 600;

  @if $colorScheme == 'dark' {
    color: var(--dark-text);
  }
  @if $colorScheme == 'light' {
    color: var(--light-text);
  }
}

.dark-h1 {
  @include title-styles('dark', var(--font-sizeXL));
}

.dark-h2 {
  @include title-styles('dark', var(--font-sizeLG));
}

.dark-h3 {
  @include title-styles('dark', var(--font-sizeMD));
}

.dark-h4 {
  @include title-styles('dark', var(--font-sizeSM));
}

.dark-h5 {
  @include title-styles('dark', var(--font-sizeSM));
}

.light-h1 {
  @include title-styles('light', var(--font-sizeXL));
}

.light-h2 {
  @include title-styles('light', var(--font-sizeLG));
}

.light-h3 {
  @include title-styles('light', var(--font-sizeMD));
}

.light-h4 {
  @include title-styles('light', var(--font-sizeSM));
}

.light-h5 {
  @include title-styles('light', var(--font-sizeSM));
}
